* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #ade8f4;
  scroll-behavior: smooth;
}
header {
  background-color: #023e8a;
  color: white;
  padding: 1rem;
  font-size: 1.4rem;
}
.container {
  margin: auto;
  padding: 1rem;
  width: 80vw;
  height: auto;
}
h2 {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
}
input {
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  width: 30%;
  border: none;
  outline: none;
  box-shadow: 0px 5px 10px #00b4d8;
}
.emoji-container {
  display: inline;
  font-size: 2rem;
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0px 5px 10px #00b4d8;
  cursor: pointer;
  border-radius: 100px;
  border: none;
}
.emoji-container:hover {
  box-shadow: 0px 15px 25px -5px #0077b6;
  transform: scale(1.05);
}
.emoji-container:active {
  box-shadow: 0px 4px 8px #00b4d8;
  transform: scale(0.98);
}
@media (max-width: 800px) {
  .container {
    padding: 0.5rem;
  }
  input {
    width: 50%;
  }
}
